@font-face {
    font-family: 'alterna';
    src: asset-url('alterna.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'moondog';
    src: asset-url('moondog.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'main';
    src: asset-url('main.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'deftone';
    src: asset-url('deftone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'movahi';
    src: asset-url('movahi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nfs';
    src: asset-url('nfs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cricket';
    src: asset-url('cricket.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'violet';
    src: asset-url('violet.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'viper';
    src: asset-url('viper.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avante';
    src: asset-url('avante.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lobster';
    src: asset-url('lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archive';
    src: asset-url('archive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}